* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100%;
}

.image-sidebar {
    flex: 1;
    background-image: url(tim-umphreys-98br0uaRJsM-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.logo-container h1 {
    font-family: 'Norse Bold', sans-serif;
    font-size:  4rem;
}

.content {
    flex: 1.5; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}